<h1> <%= @guest.name %> </h1><br>
<% @guest.find_and_sort_appearances.each do |appearance| %>
    <ul>
    <li><%= link_to a.episode.date, episode_path(a.episode) %></li>
    <%= "Rating" %> <%= a.appearance_rating %>
    <br>
    </ul>
<% end %>